.poke-wrapper {
  margin: 2vh 2vw;
  max-width: 980px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 150px);
}

.card,
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 4px black;
  border-radius: 50%;
  padding: 4px;
  transition: 0.2s;
  background-color: white;
}

.name {
  width: 60%;
  display: inline;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 12%;
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.loading {
  height: 150px;
  justify-content: center;
}

.card:hover {
  z-index: 2;
  transform: scale(110%, 110%);
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resetBtn,
.closeBtn {
  height: 26px;
  width: 45%;
  margin-top: 6px;
  border: 0px;
  color: white;
}

.resetBtn {
  background-color: rgb(233, 57, 57);
  transition-duration: 0.2s;
}

.resetBtn:hover {
  background-color: rgb(197, 31, 25);
}

.closeBtn {
  background-color: rgb(65, 62, 235);
  transition-duration: 0.2s;
}

.closeBtn:hover {
  background-color: rgb(40, 38, 175);
}
